
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
.home{
  padding-left: 12rem;
  color:whitesmoke;
  font-family: 'Ubuntu', sans-serif;
}

.home .home-content .text-2{
  color: whitesmoke;
  font-size: 75px;
  font-weight: 600;
}
.color{
  color: orangered;
}

.about{
  padding-left: 12rem;
  color:white;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p-about{
  word-spacing: 1px;
  letter-spacing: 1px;
}

.skills{
  padding-left: 12rem;
  color:whitesmoke;
  font-family: 'Ubuntu', sans-serif;
}


.highlight{
  padding-top: 2rem;
  padding: 5px;
  font-weight: bold;
  font-size: larger;
  color: gray;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list{
  padding-bottom: 2rem;
}

.list-text{
  color: gray;
  margin-left: 1rem;
  margin-top: 4px;
} 

.languages{
  margin-left: 2rem;
  font-size:40px;
  padding-bottom: 2rem;
}




/*Responsive media query*/
@media(max-width: 480px){
  .home{
      padding-left: 2rem;
  }
  .about{
      padding: 2rem;
  }
  .skills{
      padding-left: 2rem;
  }
  .highlight{
      padding: 2px;
  }
  .list{
      padding: 2px;
  }
  .languages{
      margin-left: 0%;
      padding: 2px;
  }
}


/* Apk.js File */
.weather{
  padding: 10px;
  padding-top: 5rem;
}

.img1{
  padding: 10;
  height: 400px;
  width: fit-content;
}



.img{
  padding: 10px;
  flex-direction: row;
  justify-content:baseline
}

/* Projects.js */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}


.desc{
text-align: center;
font-weight: bold;
font-size: larger;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 2rem;
color: lightgray;
}
#projects{
  font-family: 'Poppins',sans-serif;
padding-top: 5rem;
}


.section-title{
padding-top: 2rem;
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu',sans-serif;
}
.section-title::before{
  content: "";
  position: absolute;
  bottom:0px;
  left: 50%;
  width: 250px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

.section-title::after{
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}
#projects .projects {
flex-direction: column;
max-width: 1200px;
margin: 0 auto;
padding: 0;
}
#projects .projects-header h1 {
margin-bottom: 50px;
}
#projects .all-projects {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
#projects .project-item {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 90%;
margin: 20px auto;
overflow: hidden;
border-radius: 10px;
}
#projects .project-info {
padding: 30px;
flex-basis: 50%;
height: 100%;
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
color: white;
}
#projects .project-info h1 {
font-size: 2.3rem;
font-weight: 450;
}
#projects .project-info h2 {
font-size: 1.8rem;
font-weight: 450;
  margin-top: 10px;
}
#projects .project-info p {
color: white;
}  
#projects .project-info a{
  display: inline-block;
  background: #fff;
  color:#111;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 25px;
  margin-top: 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
#projects .project-info a:hover{
  color: crimson;
}
#projects .project-img {
flex-basis: 50%;
height: 300px;
overflow: hidden;
position: relative;
}
#projects .project-img:after {
content: '';
position: absolute;
left: 0;
top: 0;
height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
opacity: .7;
}
#projects .project-img img {
  height: 400px;
  width: 700px;
  background-size: 100%;
transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
transform: scale(1.1);
}


@media only screen and (min-width:947px){
  #projects .project-item {
  flex-direction: row;
}
#projects .project-item:nth-child(even) {
  flex-direction: row-reverse;
}
#projects .project-item {
  height: 400px;
  margin: 0;
  border-radius: 0;
}
#projects .all-projects .project-info {
      height: 100%;
      width: 100%;
}
#projects .all-projects .project-img {
      height: 100%;
      width: 100%;
  }
  
}
@media only screen and (max-width: 480px) {
  .container{
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      padding: 10px;
    }
  
}

/* Footer Code */
.footer{
  width: 100%;
  height: auto;
  display:flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items:center;
  background-color:firebrick;
  padding-bottom: 5px;
}
.emailsent{
    color: black;
}
.form {
  color: aliceblue;
}

.intro{
  color: white;
  font-size: larger;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.icons{
  color:white;
  font-size: larger;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  font: inherit;
  padding: 0.35rem;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.control input:focus,
.control textarea:focus {
  background-color: #cbf8f8;
  outline-color: teal;
}

.btn{
  box-sizing:content-box;
  background-color: orange;
}

  
@media only screen and (max-width: 480px) {
  .footer{
    width:100%;
    height: auto;
  }
}
